.reviewPage{
    width: 100%;
}

.reviewPage-container{
    line-height: 1.6;
    margin: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviewPage-container h1{
    color: #3F4B3B;
    font-size: 30px;
}

.reviewPage-container .reviewPage-description {
    color: #32549E;
}

.reviewPage-container h2, .reviewPage-container h3{
    color: #233a6a;
}

.reviewPage-container h1:after{
    display: none;
}

.gallery h2{
    border-bottom: 2px solid #233a6a;
}

.gallery-images{
    display: flex;
    margin: 20px auto;
    align-items: center;
}

.gallery-img{
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 8px;
    cursor: pointer;
}

.gallery-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .4s ease-in-out;
}

.gallery-images img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 600px){
    .reviewPage-container{
        margin: 40px 20px;
    }
    .gallery-images{
        flex-direction: column;
    }

    .gallery-images img{
        margin: 8px 0;
    }
}