.singleSurgeryPage-container{
    width: 90%;
    margin: 60px auto;
}

.singleSurgeryPage-container .surgery-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 10px;
    border-bottom: 2px solid #d8dce0;
    color: #233a6a;
}
.singleSurgeryPage-container h1:after{
    display: none;
}

.surgery-header .date{
    margin-left: 20px;
}

.singleSurgeryPage-container .img-container{
    border-radius: 10px;
    margin: 40px auto 0;
    width: 80%;
}

.singleSurgeryPage-container .singleSurgeryPage .content-container{
    margin-top: 40px;
    padding: 10px 40px 0;
    color: #233a6a;
    line-height: 1.6;
    border-top: 2px solid #d8dce0;
}

.singleSurgeryPage-container .img-container img{
    border-radius: 10px;
    width: 100%;
}